@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
        box-sizing:border-box;
        margin:0;
        padding:0;
        font-family: 'Oswald', sans-serif;
}
html,body{
    width: 100vw;
    overflow-x: hidden;
  }
/* header section */

.header-section{
    padding: 15px 10px;
   
}
.header-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width:100px;
    height: 100px;
}
.header-icons{
    margin-bottom: 25px;
    margin-left: 13%;
    
}
.header-icons i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 17px;
    text-align: center;
    margin-right: 5px;
}
.getbtn{
    background-color: #22548b;
    color: white;
    font-size: 15px;
    padding: 8px 45px;
    border: none;
    border-radius: 20px;
}
.header-menu a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: black;
    padding: 12px;
}
/* banner section */
.banner-section{
    background-image:linear-gradient(rgb(0 0 0/60%),rgb(0 0 0/60%)),url(../image/bannerbg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center top;
    background-attachment:fixed;
    padding:150px 0 150px;
}
.banner-content p{
    font-size: 20px;
    color: white;
    font-weight: 500;
}
.banner-content h1{
    font-size: 50px;
    color: white;
    margin: 20px 0px;
    font-weight: 500;
}
.banner-content button{
    margin-right: 10px;
}
/* choose us section */
.choose-head{
    text-align: center;
    padding: 30px 0px;
}
.choose-head h2{
    font-size: 25px;
    font-weight: 600;
}
.choose-banner{
    background-color: #22548b;
    padding: 40px 0px;
}
.choosebox{
    background-color: white;
    color:black;
    padding: 20px;
    text-align: center;
    position: relative;
    top: -45px;
    z-index: 1;
}
.choosebox i{
    width: 60px;
    height:60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    background-color: #22548b;
    color: white;
    border-radius: 50%;
}
.choosebox h4{
    font-size: 24px;
    font-weight: 600;
    margin:20px 0px;
}
.choosebox p{
    font-size: 16px;
    line-height: 25px;

}
.choosebottom {
    text-align: center;
}
.choosebottom h2{
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}
.touchbtn{
    font-size: 15px;
    padding: 8px 45px;
    border: none;
    border-radius: 20px;
    background-color: #ffc950;
    color: black;
}
/* about us section*/
.aboutus-section{
    padding:50px 0px;
}
.about-content{
    background-image:url(../image/mapbgavif.avif);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center top;
    background-attachment:fixed;
    padding:30px 0 30px;
}
.about-content h5{
    font-weight: 700;
    font-size: 23px;
}
.about-content h2{
    font-weight: 700;
    font-size: 30px;
}
.about-content p{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin: 30px 0px;
}
.about-img img{
    width:100%;
    height:auto;
}
/* stock section */
.stock-section{
    background-color: black;
    padding: 40px 0px;
    text-align: center;
}
.stockHead{
    color:white;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}
.carImg img{
    width:100%;
    height:auto;
}
.carDetails{
    border: 1px solid transparent;
    display: flex;
    justify-content:space-between ;
    background-color: #f2ecec21;
    padding: 15px 10px;
    align-items: center;
}
.carDetails p{
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
}
.carDetails button{
    color: white;
    background-color:#488dda;
    border: 1px solid transparent;
    transform: skew(-20deg);
    padding: 5px 10px;
    font-size: 12px;
}

/* dots */
.dots{
	text-align:center;
	padding:20px 10px;
}
.dots .dots-box{
	  display:inline-block;
	  width:10px;
	  height:10px;
	  background-color:#ccc;
	  border-radius:50%;
	  margin:0 2px;
	  cursor:pointer;
}
.dots-box.active{
	background-color:#ffc451;
}
/* browse section */
.browse-section{
    padding: 40px 0 40px;
    text-align: center;
}
.browseHead{
    font-size: 35px;
    font-weight: 600;
    color: #414040;
    margin-bottom: 40px;
}
.browsebox img{
    width: 100%;
    height: auto;
}
/* client section */
.client-section{
    padding: 40px 0 40px;
    background-color: #ffc950;
}
.clientHead{
    font-size: 35px;
    font-weight: 600;
    color: #414040;
    margin-bottom: 40px;
    text-align: center;
}
.clientbox{
    background-color: white;
    padding: 30px 20px;
}
.clientbox p{
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.clientbox span{
    font-size: 15px;
    margin: 0px 10px;
}
.clientbox h6{
    margin-top: 60px;
}
.viewbtn {
    text-align: center;
    margin-top: 30px;
}
/* footer section */
.footer-section{
    background-color: #22548b;
    padding: 30px 0px;
}
.contact-details{
    padding: 100px 0px;
}
.address p{
    font-size: 16px;
    color: #ffffffc4;
}
.address i{
    margin-right: 5px;
}
.footer-icons{
    display: flex;
    margin-top: 20px;
}
.footer-icons i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    text-align: center;
    margin-right: 15px;
}
.footer-menu {
    color: #ffffffc4;
}
.footer-menu a{
    text-decoration: none;
    font-size: 16px;
    color:#ffffffc4;
    padding: 10px;
}
.mapbox iframe{
    width: 100%;
    overflow: hidden;
}
/* copyrights */
.copyrights{
    background-color: rgb(76, 76, 76);
    padding: 10px 0px;
  
}
.content{
    display: flex;
    justify-content: space-between;
    color: #ffffffc4;
    font-size: 13px;
    align-items: center;
}





















